body{
    background-color: #000000a8;
}
.tela{
    width: 320px;  /* Largura da tela */
    padding: 50px;  /* Espaçamento interno */
    background-color: #fff;  /* Cor de fundo */
    border: 2px solid #333;  /* Borda */
    border-radius: 10px;  /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    text-align: center;
    margin-left: 0%;
    margin-top: -10%;
}

/* Estilo do título dentro da tela */
.tela-pequena h2 {
    font-size: 1.5rem;
    color: #333;
}

button {
    padding: 12px 30px;
    background-color: #c11a36;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 130%;
}

button:hover {
    background-color: #c11a3677;  /* Muda a cor ao passar o mouse */
}
body{
    background-color: #000000a8;
}
.tela{
    width: 320px;  /* Largura da tela */
    padding: 50px;  /* Espaçamento interno */
    background-color: #fff;  /* Cor de fundo */
    border: 2px solid #333;  /* Borda */
    border-radius: 10px;  /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
}

/* Estilo do título dentro da tela */
.tela-pequena h2 {
    font-size: 1.5rem;
    color: #333;
}

button {
    padding: 12px 30px;
    background-color: #c11a36;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 130%;
}

button:hover {
    background-color: #c11a3677;  /* Muda a cor ao passar o mouse */
}
.voltar{
    text-decoration: none;
   color: #000;
}

@media  (min-width: 360px) and (max-width: 800px){
   .tela{
    width: 280px;  /* Largura da tela */
    padding: 50px;  /* Espaçamento interno */
    background-color: #fff;  /* Cor de fundo */
    border: 2px solid #333;  /* Borda */
    border-radius: 10px;  /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    text-align: center;
    margin-top: 40%;
    margin-left: -1%;
} 
}

